nav {
  background-color: transparent;
  margin: 40px 0;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 40px;
}

.logout {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
}
.logout button {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background-image: url("../../assets/Logout.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  border: 1px solid rgba(51, 51, 51, 0.2);
  margin-left: 10px;
}
@media (max-width: 425px) {
  .logout span {
    display: none;
  }
}
